body {
  background: rgb(0, 79, 0);
  color: white;
  font-family: 'avenir';  
}

.main-headline {
  font-size: 2.25rem;
  text-align: center;
}

.endpoint-title {
  font-size: 1.75rem;
}

article {
  background: rgb(60, 60, 60);
  border: 4px solid white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.instructions {

}

code {

}

.charging-station-title,
.cafe-title {
  font-size: 2rem;
  text-align: center;
}

pre {
  white-space: pre-wrap;
  padding: 0 0 0 0.5rem;
}

pre,
.url {
  background: rgb(133, 133, 133);
}

.url {
  padding: 10px 100px;
}
