body {
  background-color: #edefed;
  /*color: white;*/
  font-family: 'avenir';  
}

.charging-station {
  background-color: #FFF;
}

.main-headline {
  font-size: 2.25rem;
  text-align: center;
}

.endpoint-title {
  font-size: 1.75rem;
}

article {
  /*background: rgb(60, 60, 60);*/
  border: 4px solid #ff9800;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

code {
  color: #FFF;
}

.charging-station-title,
.cafe-title {
  font-size: 2rem;
  text-align: center;
}

pre {
  white-space: pre-wrap;
  padding: 0 0 0 0.5rem;
}

pre,
.url {
  background: rgb(133, 133, 133);
}

.url {
  padding: 10px 100px;
  color: #FFF;
}
